// Configuração Geral
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  @media only screen and (max-width: 1000px) {
    font-size: 55%;
  }
}
body {
  box-sizing: border-box;
  background-color: rgb(253, 253, 253);
}

// Fim Configuração Geral
