@import '../abstracts/variables';
.products-tab {
  justify-content: center;
  margin-bottom: 10rem;
  .nav-link.active {
    .tab-title {
      &--dark {
        border-radius: 10px;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .tab-title {
    font-size: 1.4rem;

    &:hover {
      color: firebrick;
    }
  }
}
.products-wrapper {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-auto-rows: 320px;
  grid-gap: 10px 5px;
}
.product-listing {
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  backface-visibility: hidden;
  position: relative;

  .product-name {
    width: 100%;
    height: auto;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(184, 96, 96);
    transition: all 0.2s;
    font-size: 1.2rem;
    &:hover {
      cursor: pointer;
      color: rgb(236, 46, 46);
    }
  }
  .product-price {
    font-size: 1.2rem;
    font-weight: 900;
    color: rgb(1, 1, 26);
  }
}

.detail-product-image {
  width: 100%;
  max-height: 30rem;
  object-fit: contain;
  @media only screen and (max-width: 991px) {
    width: 100%;
  }
}
.product-detail-thumb-wrapper {
  &:not(:last-child) {
    margin-right: 0.8rem;
  }
}
.img-wrapper {
  overflow: hidden;
  backface-visibility: hidden;
  height: 160px;
}
.product-img {
  backface-visibility: hidden;
  transition: all 0.3s;
  border-radius: 5px 5px 0 0;
  width: 100%;
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}
#btn-like {
  background: transparent !important;
  padding: 0;
  margin: 0;
  .icon-like {
    cursor: pointer;
  }
}
