@import 'abstracts/variables';
@import 'base/base';
@import 'base/animations';
@import 'base/utilities';

@import 'layout/header';
@import 'layout/footer';

@import 'components/searchbar';
@import 'components/emoji_picker';
@import 'components/banner';
@import 'components/buttons';
@import 'components/table';
@import 'components/slider';
@import 'components/pagination';
@import 'components/cards';
@import 'components/dropzone';
@import 'components/products_category';
@import 'components/user_products.scss';
@import 'components/product_slider';
@import 'components/ads_listview';
@import 'layout/grid';
@import 'layout/navigation';
@import 'components/products';

// @import 'components/chat';

.menu-list {
  border-bottom: 2px solid $color-light-2;
  .nav-link {
    position: relative;
    font-size: 1.2rem;
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $color-red-primary;
      transform: scale(0);
      transition: all 0.4s;
    }
    &:hover {
      color: $color-red-primary !important;
    }
    &:hover::after {
      transform: scale(1);
    }
  }
  .current {
    color: $color-red-primary !important;
  }
}
// Fim Menu de Navegação

#username {
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu {
  position: absolute !important;
  left: 50%;
}

.recent-product {
  overflow: hidden;
}
