/*font Variables*/
/*Color Variables*/
:root {
  --color-green: #55c57a;
  --color-green-light: #7ed56f;
  --color-green-dark: #28b485;
  --color-orange-light: #ffb900;
  --color-orange-dark: #ff7730;
  --color-blue-light: #2998ff;
  --color-blue-dark: #5643fa;
  --color-blue: #42a5f5;
  --color-blue-test: #2b547e;
  --color-blue-test-1: #104e8b;
  --color-red-light: #bc544b;
  --color-red-dark: #60100b;
  --color-white: #fff;
  --snow: #fffafa;
  --ghost-white: #f8f8ff;
  --belga: #f5f5dc;
  --limon: #faf0e6;
  --honeydew: #f0fff0;
  --ivory: #fffff0;
  --alice-blue: #f0f8ff;
  --mint-cream: #f5fffa;
  --old-lace: #fdf5e6;
  --blue-light: #f7fbfb; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 1000px) {
    html {
      font-size: 55%; } }

body {
  box-sizing: border-box;
  background-color: #fdfdfd; }

@keyframes bannerAnim {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

/*font Variables*/
/*Color Variables*/
:root {
  --color-green: #55c57a;
  --color-green-light: #7ed56f;
  --color-green-dark: #28b485;
  --color-orange-light: #ffb900;
  --color-orange-dark: #ff7730;
  --color-blue-light: #2998ff;
  --color-blue-dark: #5643fa;
  --color-blue: #42a5f5;
  --color-blue-test: #2b547e;
  --color-blue-test-1: #104e8b;
  --color-red-light: #bc544b;
  --color-red-dark: #60100b;
  --color-white: #fff;
  --snow: #fffafa;
  --ghost-white: #f8f8ff;
  --belga: #f5f5dc;
  --limon: #faf0e6;
  --honeydew: #f0fff0;
  --ivory: #fffff0;
  --alice-blue: #f0f8ff;
  --mint-cream: #f5fffa;
  --old-lace: #fdf5e6;
  --blue-light: #f7fbfb; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-padding-bottom-small {
  padding-bottom: 1.5rem !important; }

.u-padding-bottom-medium {
  padding-bottom: 4rem !important; }

.u-padding-bottom-big {
  padding-bottom: 8rem !important; }

.u-padding-bottom-huge {
  padding-bottom: 10rem !important; }

.u-padding-top-big {
  padding-top: 8rem !important; }

.u-padding-top-huge {
  padding-top: 10rem !important; }

.fst-small {
  font-size: 7px !important; }

.jumbotron {
  background-color: #ccc;
  opacity: 0.2;
  font-weight: 600;
  width: 100%;
  height: 100%; }
  .jumbotron-title {
    font-style: italic;
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 10rem;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }

.wrapper-photo {
  text-align: center; }
  .wrapper-photo .product-user-photo {
    border-radius: 50%;
    border: 3px solid #ddd; }
  .wrapper-photo .product-user-name {
    margin-top: 5px;
    font-size: 11px;
    color: #999;
    font-style: italic; }

.footer {
  background: #232425;
  padding: 7rem 0;
  margin-top: 5rem; }
  .footer .block-title {
    color: #ddd;
    font-size: 13px;
    margin-bottom: 25px; }
  .footer .block.about img {
    margin-bottom: 25px; }
  .footer .block.about p {
    line-height: 26px; }
  .footer .block-list {
    list-style: none;
    padding: 0; }
    .footer .block-list:not(:last-child) {
      margin-bottom: 10px; }
    .footer .block-list li {
      margin-bottom: 10px; }
      .footer .block-list li a {
        display: block;
        font-size: 12px;
        color: #797979;
        text-decoration: none; }
        .footer .block-list li a:hover {
          color: #d10024; }
  @media only screen and (max-width: 1024px) {
    .footer .block:last-child {
      margin-bottom: 30px; } }
  .footer .block-2 {
    padding: 18px 30px;
    background: #46484a;
    border-radius: 2px; }
    .footer .block-2.app-promotion {
      margin-bottom: 20px; }
      .footer .block-2.app-promotion p {
        margin-left: 20px;
        color: #ddd; }
    .footer .block-2.discount-coupon p {
      color: #ddd;
      margin-bottom: 0; }
      .footer .block-2.discount-coupon p a {
        color: #d10024; }

.footer-bottom {
  position: relative;
  background: #363839;
  padding: 25px 0; }
  @media only screen and (max-width: 575px) {
    .footer-bottom {
      text-align: center; } }
  .footer-bottom .copyright p {
    color: #777;
    margin-bottom: 0; }

.social-media-icons {
  text-align: center !important; }
  .social-media-icons li {
    display: inline-block; }
    .social-media-icons li i {
      color: #848484;
      padding: 0 20px;
      cursor: pointer; }
      .social-media-icons li i:hover {
        color: #ddd !important;
        text-decoration: none; }

.top-to {
  position: absolute;
  right: 20px;
  bottom: 50px;
  display: flex;
  justify-content: center; }
  .top-to a {
    width: 40px;
    height: 40px;
    background: #d10024;
    color: #ddd;
    display: flex;
    justify-content: center; }
    .top-to a i {
      line-height: 40px; }
    .top-to a:hover {
      text-decoration: none; }

.search_bar {
  padding: 5rem 3rem;
  background-color: #eee; }

.nav-form-input {
  padding: 1rem 0;
  background-color: #fff3;
  align-items: center;
  justify-content: center; }
  .nav-form-input .form-control:focus {
    box-shadow: none; }
  @media only screen and (max-width: 700px) {
    .nav-form-input {
      flex-direction: column;
      padding: 0;
      background-color: transparent; } }
  .nav-form-input .form-control {
    font-size: 1.2rem; }
  .nav-form-input .user-img {
    display: inline; }
  .nav-form-input .input-group-prepend {
    width: 15rem; }
    .nav-form-input .input-group-prepend > * {
      height: 3.5rem; }
      @media only screen and (max-width: 250px) {
        .nav-form-input .input-group-prepend > * {
          height: 2.5rem; } }
    @media only screen and (max-width: 767px) {
      .nav-form-input .input-group-prepend {
        width: 10rem; } }
    @media only screen and (max-width: 700px) {
      .nav-form-input .input-group-prepend {
        width: 97%;
        margin-bottom: 2px; } }
  @media only screen and (max-width: 700px) {
    .nav-form-input .input-group-append {
      width: 97%; } }
  @media only screen and (max-width: 1199px) {
    .nav-form-input {
      justify-content: center; } }

.nav-category {
  border-radius: 1rem 0 0 1rem; }
  @media only screen and (max-width: 700px) {
    .nav-category {
      border-radius: 1rem 1rem 0 0; } }

.nav-input {
  width: 30rem;
  height: 3.5rem; }
  @media only screen and (max-width: 1100px) {
    .nav-input {
      width: 25rem; } }
  @media only screen and (max-width: 900px) {
    .nav-input {
      width: 18rem; } }
  @media only screen and (max-width: 800px) {
    .nav-input {
      width: 16rem; } }
  @media only screen and (max-width: 700px) {
    .nav-input {
      width: 100%;
      margin-bottom: 2px; } }
  @media only screen and (max-width: 250px) {
    .nav-input {
      height: 2.5rem; } }

.nav-btn {
  border-radius: 0 10px 10px 0;
  font-size: 1.2rem;
  padding: 0 2rem;
  height: 3.5rem; }
  @media only screen and (max-width: 700px) {
    .nav-btn {
      width: 100%;
      border-radius: 0 0 1rem 1rem; } }
  @media only screen and (max-width: 250px) {
    .nav-btn {
      height: 2.5rem; } }

.navbar-nav {
  width: 100%;
  justify-content: center; }

.comment-area {
  position: relative; }
  .comment-area .emoji-mart {
    position: absolute;
    top: -290%;
    left: 0; }

.select-emoji {
  cursor: pointer;
  display: inline-block; }

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(./images/ComercioMoz_Banner.JPEG) no-repeat center center/cover;
  height: 100vh;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  margin-top: -100px; }
  @media only screen and (max-width: 900px) and (min-height: 500px) {
    .header {
      height: 80vh; } }
  @media only screen and (max-width: 700px) and (min-height: 500px) {
    .header {
      height: 70vh; } }
  @media only screen and (max-width: 420px) {
    .header {
      height: 100vh; } }

.banner {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  border-radius: 10px;
  overflow: hidden; }
  @media only screen and (max-width: 700px) {
    .banner {
      top: 25% !important; } }
  @media only screen and (max-width: 350px) {
    .banner {
      top: 30% !important; } }
  @media only screen and (max-width: 250px) {
    .banner {
      top: 40% !important; } }
  @media only screen and (max-height: 699px) {
    .banner {
      top: 40% !important; } }
  @media only screen and (max-height: 500px) {
    .banner {
      top: 60% !important; } }
  .banner .banner-heading {
    font-size: 7rem;
    animation-name: bannerAnim;
    animation-duration: 2s; }
    .banner .banner-heading--photo {
      font-size: 8rem; }
  .banner .banner-text {
    font-size: 2rem;
    animation: bannerAnim 2s 0.5s backwards; }
  @media only screen and (max-width: 1100px) {
    .banner .banner-heading {
      font-size: 5rem; }
      .banner .banner-heading--photo {
        font-size: 5rem; }
    .banner .banner-text {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 800px) {
    .banner {
      width: 90%; }
      .banner .banner-heading {
        font-size: 3.5rem; }
        .banner .banner-heading--photo {
          font-size: 3.5rem; }
      .banner .banner-text {
        font-size: 1.3rem; } }
  @media only screen and (max-width: 700px) {
    .banner {
      top: 35%; } }
  @media only screen and (max-width: 450px) {
    .banner {
      width: 100%; }
      .banner .banner-heading {
        font-size: 2.5rem; }
        .banner .banner-heading--photo {
          font-size: 2.5rem; }
      .banner .banner-text {
        font-size: 1.2rem; } }

.glow-on-hover {
  border: none;
  outline: none;
  color: #fff !important;
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  text-decoration: none;
  text-align: center; }
  .glow-on-hover--sm {
    padding: 0.6rem 1.2rem; }
  @media only screen and (max-width: 575px) {
    .glow-on-hover {
      width: 100%; } }

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px; }

.glow-on-hover:active {
  color: #000; }

.glow-on-hover:active:after {
  background: transparent; }

.glow-on-hover:hover:before {
  opacity: 1; }

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px; }

@keyframes glowing {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 400% 0; }
  100% {
    background-position: 0 0; } }

.btn-gradient {
  border-radius: 10px !important;
  color: #fff !important;
  text-align: center;
  transition: all 3s ease-in-out;
  position: relative;
  z-index: 0;
  cursor: pointer;
  border: none;
  text-decoration: none; }
  @media only screen and (max-width: 575px) {
    .btn-gradient {
      width: 100%; } }
  .btn-gradient--primary {
    background: linear-gradient(45deg, #ac1a1a, #ff0000); }
  .btn-gradient--secondary {
    background: linear-gradient(45deg, #d89d9d, #eb877c); }
  .btn-gradient--sm {
    padding: 0.6rem 1.2rem !important; }
  .btn-gradient:hover::before {
    opacity: 1; }
  .btn-gradient::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    z-index: -1;
    transition: opacity 0.2s linear;
    opacity: 0; }
  .btn-gradient--primary::before {
    background: linear-gradient(45deg, #ff0000, #ac1a1a); }
  .btn-gradient--secondary::before {
    background: linear-gradient(45deg, #eb877c, #d89d9d); }

table i {
  display: inline !important; }

@media only screen and (max-width: 500px) {
  table th,
  table td {
    font-size: 1rem !important; } }

.customers {
  background-color: #151f20;
  margin-bottom: -5rem;
  margin-top: 5rem; }

#showcase {
  background: url(./images/ComercioMoz_Banner.JPEG) no-repeat top center fixed;
  background-size: cover;
  position: relative;
  min-height: 250px;
  color: #fff;
  padding-top: 2rem;
  margin-bottom: 8rem; }
  #showcase .home-search {
    min-height: 250px;
    position: relative;
    border-radius: 5px; }
  #showcase .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 250px;
    width: 100%;
    background: rgba(51, 51, 51, 0.8); }

#showcase-inner {
  position: relative;
  overflow: hidden;
  min-height: 150px; }

#showcase-inner.showcase-search {
  min-height: 100px; }

@media (max-width: 991px) {
  #showcase {
    padding-top: 1rem; }
  #showcase h1 {
    font-size: 40px; }
  .hide-md-down {
    display: none; } }

@media (max-width: 768px) {
  #showcase h1 {
    font-size: 40px; }
  #showcase p {
    display: none; }
  #top-bar {
    text-align: center; }
  #top-bar .social {
    text-align: center !important; } }

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px; }
  #showcase-inner h1 {
    font-size: 40px; } }

.pagination {
  margin: 0 auto;
  padding-bottom: 10rem; }

.card-contact {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding-top: 10px; }
  .card-contact-list {
    list-style: none;
    padding: 0; }
    .card-contact-list-item {
      padding: 1rem 2rem; }
      .card-contact-list-item:not(:last-child) {
        margin-bottom: 10px; }
      .card-contact-list-item:nth-child(2n) {
        background-color: #eee !important; }

.dropzone-container {
  border-radius: 10px;
  border: 2px dashed red;
  padding: 0 !important; }

.dropzone-wrapper {
  width: 100%;
  min-height: 13rem;
  background-color: #f7eaea;
  cursor: pointer; }
  .dropzone-wrapper-text {
    height: 40px; }

.wrapper-preview {
  margin-top: 16px; }
  .wrapper-preview .img-list-preview {
    box-sizing: border-box; }
  .wrapper-preview .wrapper-img {
    width: 10rem;
    height: 10rem;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    padding: 4px;
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 8;
    position: relative; }
  .wrapper-preview .img-preview {
    width: 100%;
    height: 100%; }
  .wrapper-preview .remove-img {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer; }

.widget {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  padding: 25px 30px 30px;
  margin-bottom: 30px;
  border-radius: 2px; }
  .widget .widget-header {
    display: block;
    font-size: 1.1rem !important;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc; }
  .widget.category-list .category-list {
    padding: 0; }
    .widget.category-list .category-list:not(:last-child) {
      border-bottom: 1px solid #f4f7f9 !important; }
    .widget.category-list .category-list-item {
      display: flex;
      padding: 8px 0;
      transition: all linear 0.3s;
      text-decoration: none;
      cursor: pointer;
      width: 100%; }
      .widget.category-list .category-list-item:hover {
        color: #d10024; }
  .widget.filter .nice-select {
    width: 100%; }
    .widget.filter .nice-select .list {
      width: 100%; }
  .widget.price-range b {
    font-size: 13px;
    color: #888; }
  .widget.price-range .slider.slider-horizontal {
    width: 100%; }
  .widget.price-range .slider-handle {
    background: #d10024; }
  .widget.price-range .slider-track {
    margin-top: -2px;
    height: 5px;
    box-shadow: none;
    border-radius: 0;
    background: #f5f5f5; }
  .widget.price-range .slider-selection {
    background: #dedede;
    box-shadow: none; }
  .widget.price {
    background: #d10024; }
    .widget.price h4 {
      color: #fff; }
    .widget.price p {
      color: #fff;
      font-size: 30px;
      text-align: center;
      font-weight: bold;
      margin: 0; }
  .widget.map {
    padding: 10px; }
    .widget.map #map_canvas {
      height: 300px; }
  .widget.category .category-list-item {
    margin-bottom: 8px;
    cursor: pointer; }
    .widget.category .category-list-item a {
      font-size: 15px;
      letter-spacing: 0;
      display: block;
      color: #999; }
      .widget.category .category-list-item a:hover {
        color: #d10024; }
    .widget.category .category-list-item:last-child {
      margin-bottom: 5px; }
  .widget.filter {
    padding-bottom: 17px; }
    .widget.filter .form-1 {
      margin-bottom: 20px; }
    .widget.filter .form-check-label {
      font-size: 14px;
      color: #999; }
      .widget.filter .form-check-label input {
        margin-right: 10px; }
      .widget.filter .form-check-label input[type='checkbox']:checked .form-check-label {
        color: #d10024 !important; }
      .widget.filter .form-check-label:hover {
        color: #d10024; }

.section-ads-category {
  padding: 70px 0; }

.category-search-filter {
  background: #f7f7f7;
  padding: 10px; }
  .category-search-filter strong {
    margin: 0 5px; }
  .category-search-filter .view {
    text-align: right; }
    .category-search-filter .view ul {
      display: inline-block; }
      .category-search-filter .view ul li:not(:last-child) {
        margin-right: 10px; }
      .category-search-filter .view ul li a {
        font-size: 15px; }
    .category-search-filter .view .view-switcher {
      background: #fff;
      padding: 10px 15px; }

.thumb-content {
  position: relative; }
  .thumb-content .price {
    font-size: 0.7rem !important;
    font-weight: 1000;
    position: absolute;
    border-radius: 20px;
    top: 3px;
    left: 5px;
    background: linear-gradient(to right, #ff0000, #ac1a1a);
    color: #fff;
    display: inline-block;
    padding: 2px 4px;
    font-size: 12px; }

.product-meta {
  margin-bottom: 15px; }
  .product-meta li {
    margin-right: 15px; }
    .product-meta li a {
      color: #888;
      font-size: 12px; }
      .product-meta li a i {
        margin-right: 4px; }

.product-ratings li {
  margin-right: 1px; }
  .product-ratings li i {
    font-size: 18px;
    color: #dedede;
    cursor: pointer; }

.product-ratings .selected i {
  color: #d10024; }

.rc-slider-track {
  background-color: #999 !important; }

.rc-slider-handle {
  background-color: #ff0000 !important;
  border: solid 1px #ff0000 !important;
  padding: 0 !important;
  width: 7px !important;
  height: 8px;
  top: 8px; }
  .rc-slider-handle-dragging {
    box-shadow: 0 0 5px #d10024 !important; }

.price-range {
  font-size: 8px; }

.category-list .dropdown-menu {
  width: 100%;
  border: none; }
  .category-list .dropdown-menu.show {
    position: absolute !important;
    transform: translate(100%, 0) !important; }

.category-list .dropdown-toggle {
  display: block; }
  .category-list .dropdown-toggle::after {
    position: absolute;
    top: 50%;
    right: 3px;
    transform: rotate(-90deg); }

.price-range-btn {
  cursor: pointer; }

.widget {
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  padding: 25px 30px 30px;
  margin-bottom: 30px;
  border-radius: 2px;
  font-size: 1.2rem; }
  .widget .widget-header {
    display: block;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    padding-bottom: 10px;
    border-bottom: 1px solid #dedede; }

.dashboard-container .product-dashboard-table thead th {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.4px; }

.dashboard-container .product-dashboard-table thead td {
  vertical-align: middle;
  padding: 40px 0; }

.dashboard-container .product-thumb {
  width: 15%; }

.dashboard-container .product-details {
  width: 45%; }
  .dashboard-container .product-details span {
    display: block;
    font-size: 1.1rem;
    color: #848484; }
    .dashboard-container .product-details span strong {
      color: #666;
      width: 30%;
      display: inline-block; }
  .dashboard-container .product-details .status {
    color: #d10024; }
  .dashboard-container .product-details .status.active {
    color: #59d659; }

.dashboard-container tbody tr:hover .action li {
  color: #fff; }

.dashboard-container tbody tr:hover .action li.edit {
  background: #59d659; }

.dashboard-container tbody tr:hover .action li.view {
  background: #50c6e9; }

.dashboard-container tbody tr:hover .action li.delete {
  background: #ff5252; }

.dashboard-container .action li {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  font-size: 14px;
  color: #363b4d;
  text-align: center;
  display: inline-block;
  line-height: 40px; }
  .dashboard-container .action li:hover {
    color: #fff;
    cursor: pointer; }

.dashboard-container .product-details .title {
  font-size: 1.1rem; }

.dashboard-container .product-category {
  width: 15%;
  text-align: center; }

.dashboard-container .action {
  width: 20%;
  text-align: center; }

.dashboard-container .action span:hover.delete {
  background: #ff5252; }

.dashboard-container .action .list-inline .list-inline-item:not(:last-child) {
  margin-right: 0px; }

.dashboard-container .action .edit {
  background: #f7f7f7; }

.dashboard-container .action .view {
  background: #f7f7f7; }

.dashboard-container .action .delete {
  background: #f7f7f7; }

.recent-product .container {
  position: relative; }

.slider-container .slider-item {
  margin: 0 1rem;
  max-width: 30rem; }

.react-multiple-carousel__arrow--left {
  left: 0; }

.react-multiple-carousel__arrow--right {
  right: 0; }

.arrow-prev,
.arrow-next {
  position: absolute; }

.arrow-prev {
  top: 50%;
  left: 0; }

.arrow-next {
  top: 50%;
  right: 0;
  transform: translate(0, -50%); }

.product-card {
  border: 2px solid #eee;
  border-bottom-width: 0;
  cursor: pointer;
  transition: all 0.2s;
  height: auto !important;
  position: relative; }
  .product-card:hover {
    border: 2px solid #d10024;
    border-bottom-width: 0; }
  .product-card:hover::after {
    z-index: -1; }
  .product-card:hover .cta-card {
    transform: scaleY(1); }
  .product-card::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 102%;
    height: 7.7rem;
    margin-left: -2px;
    background-color: #fff; }

.cta-card:hover {
  transform: scaleY(1); }

.cta-card {
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.2s; }

.cta-link {
  background-color: #d10024;
  text-decoration: none;
  color: #fafafa;
  text-transform: uppercase;
  padding: 1.2rem 3rem;
  font-size: 1.3rem;
  font-weight: 600;
  border: none; }

.cta-link-main {
  display: inline-block;
  background-color: #d10024;
  text-decoration: none;
  color: #fafafa;
  text-transform: uppercase;
  padding: 1.2rem 3rem;
  border-radius: 2rem;
  font-size: 1.3rem;
  font-weight: 600;
  transition: all 0.4s;
  border: 2px solid #d10024;
  position: relative; }
  .cta-link-main:hover {
    color: #d10024;
    background-color: #fff;
    border: 2px solid #d10024;
    padding-left: 5rem; }
  .cta-link-main .cta-icon {
    position: absolute;
    top: 32%;
    left: 5%;
    color: #d10024;
    transition: all 0.4s; }

.card-img-top {
  cursor: pointer; }

.back-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #777;
  font-size: 1.6rem; }

.icon-remove-cart {
  cursor: pointer; }

.list-item {
  font-size: 1.6rem;
  margin: 2rem 3rem 0 0;
  text-transform: uppercase; }
  .list-item .list-link {
    position: relative;
    text-decoration: none;
    padding-bottom: 2px;
    color: #d10024 !important; }
    .list-item .list-link::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #d10024;
      transform: scale(0);
      transition: all 0.4s; }
    .list-item .list-link:hover::after {
      transform: scale(1); }
  .list-item .current::after {
    transform: scale(1); }

.ad-listing-list {
  transition: all linear 0.3s;
  background-color: #fefefe; }
  .ad-listing-list:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2); }

.product-ratings ul li i {
  font-size: 14px;
  color: #2e0209; }

.category-cta {
  text-decoration: none; }
  .category-cta:hover {
    color: #d10024; }

.title {
  font-weight: bolder;
  font-size: 1.2rem;
  text-decoration: none;
  color: #b86060; }

.ads-list-group {
  list-style: none;
  padding: 0; }

.topbar {
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  position: sticky;
  height: 3.4rem;
  width: 100%; }
  @media only screen and (max-width: 575px) {
    .topbar {
      display: none; } }
  .topbar .nav-user-box--1 {
    display: flex;
    flex-direction: row;
    align-items: center; }

header {
  height: 1rem;
  padding-bottom: 100px; }
  header #navigation {
    text-transform: none;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0;
    border-bottom: 2px solid #797979; }
    header #navigation av-logo {
      font-size: 1.4rem;
      color: white;
      margin: 0;
      padding: 0;
      display: inline-block; }
      header #navigation av-logo::first-letter {
        font-family: monospace;
        font-size: 3rem; }
    header #navigation .nav-link.user {
      font-size: 1rem; }
    header #navigation .nav-user-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer; }
    @media only screen and (max-width: 575px) {
      header #navigation .nav-user-box {
        display: none !important; } }
    header #navigation .col-nav-logo {
      position: relative;
      width: 10%;
      margin-left: 2rem; }
      @media only screen and (max-width: 575px) {
        header #navigation .col-nav-logo {
          display: none; } }
    header #navigation .col-nav-search--sticky {
      display: none !important; }
    header #navigation .col-nav-content {
      margin-right: 2rem;
      padding-top: 1rem; }
    @media only screen and (max-width: 1199px) {
      header #navigation .col-nav-search {
        width: 100%; } }
    @media only screen and (max-width: 575px) {
      header #navigation {
        top: 0;
        padding: 1rem; } }

.products-tab {
  justify-content: center;
  margin-bottom: 10rem; }
  .products-tab .nav-link.active .tab-title--dark {
    border-radius: 10px; }
    .products-tab .nav-link.active .tab-title--dark:hover {
      color: #fff; }
  .products-tab .tab-title {
    font-size: 1.4rem; }
    .products-tab .tab-title:hover {
      color: firebrick; }

.products-wrapper {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-auto-rows: 320px;
  grid-gap: 10px 5px; }

.product-listing {
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  backface-visibility: hidden;
  position: relative; }
  .product-listing .product-name {
    width: 100%;
    height: auto;
    font-weight: bold;
    letter-spacing: 1px;
    color: #b86060;
    transition: all 0.2s;
    font-size: 1.2rem; }
    .product-listing .product-name:hover {
      cursor: pointer;
      color: #ec2e2e; }
  .product-listing .product-price {
    font-size: 1.2rem;
    font-weight: 900;
    color: #01011a; }

.detail-product-image {
  width: 100%;
  max-height: 30rem;
  object-fit: contain; }
  @media only screen and (max-width: 991px) {
    .detail-product-image {
      width: 100%; } }

.product-detail-thumb-wrapper:not(:last-child) {
  margin-right: 0.8rem; }

.img-wrapper {
  overflow: hidden;
  backface-visibility: hidden;
  height: 160px; }

.product-img {
  backface-visibility: hidden;
  transition: all 0.3s;
  border-radius: 5px 5px 0 0;
  width: 100%; }
  .product-img:hover {
    cursor: pointer;
    transform: scale(1.05); }

#btn-like {
  background: transparent !important;
  padding: 0;
  margin: 0; }
  #btn-like .icon-like {
    cursor: pointer; }

.menu-list {
  border-bottom: 2px solid #eee; }
  .menu-list .nav-link {
    position: relative;
    font-size: 1.2rem; }
    .menu-list .nav-link::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #d10024;
      transform: scale(0);
      transition: all 0.4s; }
    .menu-list .nav-link:hover {
      color: #d10024 !important; }
    .menu-list .nav-link:hover::after {
      transform: scale(1); }
  .menu-list .current {
    color: #d10024 !important; }

#username {
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center; }

.dropdown-menu {
  position: absolute !important;
  left: 50%; }

.recent-product {
  overflow: hidden; }
